:root{
    /* COLORS */

    /* Brand */

    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

    /* Text */

    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

    /* Surface */

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    /* Stroke */

    --stroke-default: #D6D3D1;
    --stroke-highlight: #F35A1C;
    
    /* Semantic */

    --semantic-error: #DC2626;


    /* TYPOGRAPHY */

    --font-family: "Poppins", serif;

    --heading-1: 800 32px/120% var(--font-family);
    --heading-2: 800 24px/120% var(--font-family);
    --heading-3: 800 20px/120% var(--font-family);
    --heading-4: 800 16px/120% var(--font-family);

}